MYSQL_ROOT_PASSWORD=root_password
DB_USERNAME=innovatech
DB_PASSWORD=innovatech_password

# Usuario de Docker Hub (para pull de la imagen del frontend)
DOCKERHUB_USERNAME=tu_usuario_dockerhub

# URLs de los backends (para build del frontend)
VITE_VENTAS_URL=http://localhost:8080
VITE_DESPACHOS_URL=http://localhost:8081
